<div class="background pb-1">
  <div class="container">

    <div class="row pt-7 pt-sm-9">
      <div class="col-lg-8 col-sm-12">
        <div id="room-title" class="display-3 form-inline">
            <h1 contenteditable=false id="user-text" class="display-3 text-left mb-3 font-weight-400">
              <%= t("administrator.users.table.export.title") %> ( <%= @users.count %> )
            </h1>
        </div>
      </div>
    </div>

    <div id="admin_export_users_container" class="row pt-7 pb-5">
      <%= render "shared/export_users", users: @users %>
    </div>

  </div>
</div>
